
/* Colores  */
$negro: #000;
$blanco: #FFF;
$verde: #344C36;
$piel: #F7EFE2;
$amarillo: #FEAD17;
$cafe: #865E34;
$naranja: #FD5F36;

/* fonts */
$titulos: "Germania One", system-ui;
$subtitulo: "Bodoni Moda", serif;
$contenido: "IBM Plex Mono", monospace;

/* responsive */

$tablet: 900px;