
/* Colores  */
$negro: #121211;
$blanco: #FFF;
$fondo: #68181f;
$principal: #efdbbf;
$secundario: #ac3030;

// $fondo: #caa5cb;
// $claro: #F7EFE2;
// $principal: #622872;
// $terciario: #865E34;
// $secundario: #722548;

// $fondo: #420d4b;
// $claro: #F7EFE2;
// $principal: #6667ab;
// $terciario: #865E34;
// $secundario: #722548;

// $fondo: #541533;
// $claro: #F7EFE2;
// $principal: #988289;
// $terciario: #865E34;
// $secundario: #722548;

/* fonts */
$titulos: "Germania One", system-ui;
$subtitulo: "Bodoni Moda", serif;
$contenido: "IBM Plex Mono", monospace;

/* responsive */

$tablet: 900px;